/* This file is for your main application css. */

body{
  font-weight: 100;
  font: 1.000rem Avenir,AvenirNext-Regular,Helvetica Neue,Helvetica,Arial,sans;
  text-transform: uppercase;
  color: grey;
  opacity: .9;
  font-size: 12px;
  padding: 1.07rem .6rem;
}


body .header{
  margin-bottom: 2px;
  color: silver
}

body .sub-header{
  margin-top: 50px;
  color: darkgrey;
}

h1, h2, h3, h4, h5, h6, div, nav{
  text-align: center;

}

body a{
  color: grey;
}

body .failed a{
  color: red;
}


body a:hover{
  color: orangered;
  text-decoration: none;
}

nav a{
  margin: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.data{
  text-transform: none;
  padding-bottom: 2px;
}
